{% extends 'layout.html' %}

{% block title %}Add Outfit - {% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb" aria-label="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/outfits">Outfits</a></li>
    <li class="breadcrumb-item active">Add outfit</li>
  </ol>
{% endblock %}

{% block content %}

  <form action="/create-outfit" id="create-outfit-form" method="POST" enctype="multipart/form-data">
    <!-- The container shows all categories that the user has. -->
    <div >

      <fieldset class="display-category category-block scrollable gray-border">

          {% for row in articles %}
          <div class="outfits">
            <input type="checkbox" id="{{ row.article_id }}" value="{{ row.article_id }}" name="articles-to-add" />
                 <label for="{{ row.article_id }}">
                  <a href="/articles/{{ row.article_id }}"><img id="outfitimg" height="200" src="/static/uploads/{{row.image}}" alt=""></a>
            {% endfor %}
                 </label>
            </div>

      </fieldset>

    </div>

    <p>
      <label for="outfit-description">Describe the outfit (optional):</label>
      <input type="text" name="outfit-description" id="new-outfit-description-input" />
    </p>
    <p>
      <label for="outfit-name">Outfit name (optional):</label>
      <input type="text" name="outfit-name" />
    </p>
    <div class="tag-frame scrollable row">
    <fieldset class="gray-border">
      <legend class="manual-border">Tags:</legend>
        {% for tag in tags %}
          <div class="inline-block">
            <input class ="checkbox" type="checkbox" id="{{ tag.tag_id }}" value="{{ tag.tag_id }}" name="outfit-tags" />
            <label for="{{ tag.tag_id }}">{{ tag.name }}</label>
          </div>
        {% endfor %}
        <div>
          <label for="new-tags">Add more tags (separate with commas):</label>
          <input type="text" id="new-tags" name="new-tags" />
        </div>
    </fieldset>
    </div>
    <input type="submit" value="Create outfit" />
  </form>

{% endblock%}